{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/adminpanel/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/adminpanel/admin_dashboard.css' %}">
    
    <title>AdminPanel</title>
</head>
<body>
    <section class="top">
        <h1 class="top1">👨‍🍳OFDS</h1>
        <h1 class="head">Admin Panel</h1>
        <h1>{{user}}</h1>
    </section>    
    <div class="maincontainer">
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'admin_dashboard' %}"><div class="activelink">🏠&nbsp;Dashboard</div></a></li>                
                <li><a href="{% url 'admin_manage_users' %}"><div class="sidetext">🧑‍🤝‍🧑&nbsp;Manage Users</div></a></li>
                <li><a href="{% url 'admin_restaurants' %}"><div class="sidetext">🍽️&nbsp;Restaurants</div></a></li>
                <li><a href="{% url 'admin_orders' %}"><div class="sidetext">📦&nbsp;Orders</div></a></li>
                <li><a href="{% url 'admin_payments' %}"><div class="sidetext">💰&nbsp;Payments</div></a></li>
                <li><a href="{% url 'admin_delivery_agents' %}"><div class="sidetext">🚴&nbsp;Delivery Agents</div></a></li>                
                <li><a href="{% url 'logout' %}"><div class="sidetext">🚪&nbsp;Logout</div></a></li>
            </ul>       
            
        </div>
    
        <div class="display">
            <div class="box1">
                <h1>Total Users</h1>
                <h1>👥</h1>
                <h1>--------------------{{total_users}}--------------------</h1>
            </div>
            <div class="box2">
                <h1>Restaurants</h1>
                <h1>🍽️</h1>
                <h1>{{total_restaurants}}</h1>
            </div>
            <div class="box3">
                <h1>Total Orders</h1>
                <h1>📦</h1>
                <h1>{{total_orders}}</h1>
            </div>            
            <div class="box4">
                <h1>Delivery Agents</h1>
                <h1>🛵</h1>
                <h1>{{total_agents}}</h1>
            </div>
            <div class="box5">
                <h1>Payments Processed</h1>
                <h1>💰</h1>
                <h1>{{total_money}}</h1>
            </div>
        </div>
    </div>
    
</body>
</html>

