{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/restaurants/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/restaurants/add_food.css' %}">
    <title>Add Food</title>
</head>
<body>
    <div class="navbar">
        <div class="appname">OFDS</div>
        <ul>
            <li class="profile"><img src="{{user.restaurant.logo.url}}" alt="">{{user.restaurant.restaurant_name}}</li>            
            <li><a href="{% url 'restaurant_dashboard' %}">🏠Dashboard</a></li>
            <li><a href="{% url 'restaurant_fooditems' %}">🍔Food Items</a></li>
            <li><a href="{% url 'restaurant_orders' %}">📦Orders</a></li>            
            <li><a href="{% url 'restaurant_profile' %}">👤Profile</a></li>
            <li><a href="{% url 'logout' %}">🚪Logout</a></li>            
        </ul>
    </div>

    <div class="form-container">
    <h1>🍽️ Add Food Item</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ food }}
        <input type="submit" value="Add Food">
    </form>
</div>

    <!-- <h1>Add Food</h1>      
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{food}}
        <input type="submit">
    </form> -->

</body>
</html>